<section class="sec1">
  {{> flash_messages}}

  <div class="round">
  </div>

  <div class="saas">
    <h1 style="color: white">Une nouvelle façon d'étudier <br> <strong id="purple">même si l'assiduité n'est pas ton
        fort </strong> </h1>

  </div>
  <div class="wrapper">
    <a href="/signup">
      <button class="btn"><strong>Ajoute ton premier cours!</strong></button>
    </a>

  </div>
</section>