<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header>
    <h1>Tutoring Web App</h1>
    <nav>
      <a href="/">Accueil</a>
      <br>
      <a href="/contact">Nous contacter</a>
      <br> {{#if currentUser}}
      <a href="/note/add">Ajouter un cours</a>
      <br>
      <a href="/note">Mes cours</a>
      <br>
      <a href="/settings">Mon compte</a>
      <br>
      <a href="/logout">Se déconnecter</a>
      <br>
      <a href="/search">Chercher un utilisateur</a>
      <br> {{else}}
      <a href="/signup">S'incrire</a>
      <br>
      <a href="/login">Se connecter</a>
      <br> {{/if}}

    </nav>
  </header>

  {{{body}}}

  <footer>
    <p>Made by Yvens & Nerimene</p>
  </footer>
  <script src="/javascripts/script.js"></script>
</body>

</html>