<h2>Inscription</h2>

<form action="/process-signup" method="POST">
  <label>
    Nom:
    <input type="text" name="lastname" placeholder="Nom">
  </label>
  <br>
  <label>
    Prénom:
    <input type="text" name="firstname" placeholder="Prénom">
  </label>
  <br> {{!-- <label>
    N° de portable du tuteur:
    <input type="text" name="phoneparent" placeholder="N° d'un parent ou responsable légal">
  </label>
  <br> --}} {{!-- <label>
    N° de téléphone:
    <input type="text" name="phonestudent" placeholder="N° de l'élève">
  </label>
  <br>
  <label> --}} Adresse email:
    <input type="email" name="email" placeholder="Email d'un parent ou responsable légal">
  </label>
  <br>
  <label>
    Mot de passe:
    <input type="password" name="originalPassword" placeholder="Mot de passe">
  </label>
  <br>

  <button>Créer un compte</button>
</form>


<h2>Se connecter</h2>

{{> flash_messages}}

<form action="/process-login" method="POST">
  <label>
    Email:
    <input type="text" name="email" placeholder="Adresse email">
  </label>
  <br>

  <label>
    Mot de passe:
    <input type="password" name="originalPassword" placeholder="Mot de passe">
  </label>
  <br>

  <button>Me connecter</button>
</form>