<h2 style="color: white">Rechercher un utilisateur</h2>

<div id="searchbar" class="input-group mb-3">
  <form action="/process-search" method="POST">
    <input type="search" name="searchItem" style="height:50px" class="form-control" placeholder="'Yvens, 'Belaston' ou 'email@exemple.com'">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"><strong>Chercher</strong></button>
    </div>
  </form>
</div>

{{> flash_messages}}

<div class="list-group">
  {{#each userResult}}
  <a href="/user/{{this._id}}/details" class="list-group-item list-group-item-action">
    {{this.firstname}} {{this.lastname}}
  </a>
  {{/each}}
</div>

<div style="height:280px;"></div>