<h2>Rechercher un utilisateur et voir ses cours</h2>

<form action="/process-search" method="POST">
  <label for="">
    chercher un utilisateur:
    <input type="search" name="q">
    <button>Chercher</button>
  </label>
</form>


<ul>
  {{#each userArray}}
  <li>
    <h4>
    <a href="/note/:noteId">{{this.firstname}} {{this.lastname}}</a>
    </h4>
  </li>
  {{/each}}
</ul>
