<h2>Ajouter un cours</h2>

<form action="/process-note" method="POST">
  <label>
    Matière:
    <input type="text" name="topic" placeholder="'Maths', 'Français', 'Finance' etc.">
  </label>
  <br>

  <label>
    Titre du cours:
    <input type="text" name="title" placeholder="Exemple: Théorème de Thalès">
  </label>
  <br>

  <label>
    Notes de cours:
    <textarea name="noteCours" cols="30" rows="10"></textarea>
  </label>

  <button>Ajouter ce cours</button>
</form>