




<form action="/process-note" method="POST">
<label for="">
  Matière:
  <input type="text" name="topic" placeholder="Maths ou Français ou Finance etc...">
</label>
<br>

<label for="">
  Titre de la lesson:
  <input type="text" name="title" placeholder="Example: La dérivation...">
</label>
<br>

<label for="">
Ci-gît tes notes:
<input type="text" name="noteCours" id="">
</label>

<button type="submit">Créer une note</button>
</form>